#root {
  margin: 1rem auto;
}

#kezeloPanel {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

#kezeloPanel p {
  margin: 0 10px;
}

#kezeloPanel button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

#kezeloPanel button.up {
  background-color: lightgreen;
}

#kezeloPanel button.down {
  background-color: lightcoral;
}