body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("./autokolcsonzo_fejlecbe.png");
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
 }

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 40px;
    height: 180px;
    width: 70%;
}

.cards {
    margin-top: 40px;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border-color: aqua;
}

.active {
    color: yellow;
}