.felhasznalo-kartya {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  float: left;
  margin: 20px;
}
.felhasznalo-kartya img {
  border-radius: 50%;
  margin-right: 16px;
}
.felhasznalo-adatai {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}